/* global
-----------------------------------------------------------------------------*/

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

body {
    font-size: 1.125rem;
    font-family: dm-sans, sans-serif;
}

/* content
-----------------------------------------------------------------------------*/

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
}

.content > section{
    border-radius: 10px;
    box-shadow: 0px 0px 1px hsl(0 0% 80%);
}

/* social-media-10x
-----------------------------------------------------------------------------*/

.social-media-10x {
    background-color: var(--Purple-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 15px;
    color: var(--White)
}

.social-media-10x img {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* manage-multiple 
-----------------------------------------------------------------------------*/

.manage-multiple{
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap:10px;
}

.manage-multiple img{
    max-width: 100%;
    order: -1;
}