/* global
-----------------------------------------------------------------------------*/

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

body {
    font-size: 1.125rem;
    font-family: dm-sans, sans-serif;
    line-height: 1;
}

/* content
-----------------------------------------------------------------------------*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
}

.content>section {
    border-radius: 10px;
    box-shadow: 0px 0px 3px hsl(0 0% 90%);
    max-width: 450px;
    width: 100%;
}

/* social-media-10x
-----------------------------------------------------------------------------*/

.social-media-10x {
    background-color: var(--Purple-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 15px;
    color: var(--White);
    grid-area: "social-media-10x";
}

.social-media-10x img {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.social-media-10x strong {
    color: var(--Yellow-500);
}

/* manage-multiple 
-----------------------------------------------------------------------------*/

.manage-multiple {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    grid-area: "manage-multiple";
}

.manage-multiple img {
    max-width: 400px;
    width: 100%;
    align-self: center;
    order: -1;
}

/* maintain-schedule 
-----------------------------------------------------------------------------*/

.maintain-schedule {
    background-color: var(--Yellow-500);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px 0;
    grid-area: "maintain-schedule";
}

.maintain-schedule img {
    max-width: 220px;
    flex: 1 1 0;
}

.maintain-schedule h2 {
    max-width: 250px;
}

/* schedule-to-social-media 
-----------------------------------------------------------------------------*/

.schedule-to-social-media {
    background-color: var(--Purple-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 25px;
    text-align: center;
    grid-area: "schedule-to-social-media";
}

.schedule-to-social-media img {
    max-width: 400px;
    width: 100%;
}

/* grow-followers
-----------------------------------------------------------------------------*/

.grow-followers {
    background-color: var(--Purple-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;
    text-align: center;
    color: white;
    grid-area: "grow-followers";
}

.grow-followers img {
    max-width: 300px;
    width: 100%;
    order: -1;
}

.grow-followers h2 {
    max-width: 300px;
}

/* faster-audience-growth
-----------------------------------------------------------------------------*/

.faster-audience-growth {
    padding: 15px 20px;
    grid-area: "faster-audience-growth";
}

.faster-audience-growth img {
    max-width: 200px;
    width: 100%;
}

.faster-audience-growth h2 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: normal;
    font-size: 1.2rem;
}

.faster-audience-growth strong {
    font-size: 3rem;
    font-weight: bold;
}

/* create-content-quicker
-----------------------------------------------------------------------------*/

.create-content-quicker {
    padding: 25px;
    background-color: var(--Yellow-100);
    grid-area: "create-content-quicker";
}

.create-content-quicker img {
    max-width: 200px;
    width: 100%;
    margin-top: 20px;
}

.create-content-quicker em {
    color: var(--Purple-500);
}

/* write-your-content
-----------------------------------------------------------------------------*/

.write-your-content {
    padding: 20px;
    background-color: var(--Yellow-500);
    grid-area: "write-your-content";
}

.write-your-content img {
    max-width: 250px;
    width: 100%;
    margin-top: 20px;
}

/* media
-----------------------------------------------------------------------------*/

@media screen and (min-width:1200px) {
    .content{
        display:grid;
    }
}